In [ ]:
perform detail EDA in one ipynb
perform missing value handle if it is there in one ipynb all the method(10-12)
perform outlier handle if it is there in one ipynb all the method(10-12)
perform encoding  if it is required in one ipynb all the method(10-12)
perform scaling one ipynb all the method(10-12)
perform feature selection in one ipynb all the method(10-12)
perform transformation one ipynb all the method(10-12)

book, different artical,research paper

friday till 12AM ist

sunny.savita@ineuron.ai
krish.naik@ineuron.ai

# All the Lifecycle In A Data Science Projects

Data Analysis
Feature Engineering
Feature Selection
Model Building
Model Deployment

In [1]:
## Data Analysis Phase
## MAin aim is to understand more about the data

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
## Display all the columns of the dataframe

pd.pandas.set_option('display.max_columns',None)

# Note: display.max_columns

Displays the default number of value. Interpreter reads this value and displays the rows with this value as upper limit to display.

# Load the Data

In [2]:
dataset=pd.read_csv('dataset/googleplaystore.csv')

# print shape of dataset with rows and columns

In [5]:
print(dataset.shape)

(10841, 13)

# print the top5 records

In [6]:
dataset.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

# 1. Basic information about data - EDA

In [7]:
#Basic information

dataset.info()

#Describe the data

dataset.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

# Find duplicate rows in a Dataframe based on all or selected columns

In [3]:
dataset.duplicated().sum()

483

In [4]:
duplicate = dataset[dataset.duplicated()]

In [40]:
duplicate.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
229,Quick PDF Scanner + OCR FREE,BUSINESS,4.2,80805,Varies with device,"5,000,000+",Free,0,Everyone,Business,"February 26, 2018",Varies with device,4.0.3 and up
236,Box,BUSINESS,4.2,159872,Varies with device,"10,000,000+",Free,0,Everyone,Business,"July 31, 2018",Varies with device,Varies with device
239,Google My Business,BUSINESS,4.4,70991,Varies with device,"5,000,000+",Free,0,Everyone,Business,"July 24, 2018",2.19.0.204537701,4.4 and up
256,ZOOM Cloud Meetings,BUSINESS,4.4,31614,37M,"10,000,000+",Free,0,Everyone,Business,"July 20, 2018",4.1.28165.0716,4.0 and up
261,join.me - Simple Meetings,BUSINESS,4.0,6989,Varies with device,"1,000,000+",Free,0,Everyone,Business,"July 16, 2018",4.3.0.508,4.4 and up

# drop the duplicate rows in a Dataframe

In [5]:
dataset.drop_duplicates(subset=['App'], keep='first', inplace=True)

In [21]:
print(dataset.shape)

(9660, 13)

In [6]:
dataset.duplicated().sum()

0

# Cleaning of the Data - Exploring and Managing the Data

# Converting the data in the column "Reviews" to float to that we can apply statistics

In [ ]:
# Start of cleaning
# There were given some commands to locate any invalid data
# I noticed that are some misplacing, e.g. here, "M" should move from "Reviews"

In [28]:
dataset.Reviews.unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [43]:
dataset[dataset['App']=='Life Made WI-Fi Touchscreen Photo Frame']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [7]:
dataset['Reviews'] = dataset['Reviews'].map(lambda x: x.rstrip('M'))

In [16]:
dataset[dataset['App']=='Life Made WI-Fi Touchscreen Photo Frame']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0,"1,000+",0,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [9]:
dataset.Reviews= dataset.Reviews.astype(float)

In [10]:
dataset.describe()

            Rating       Reviews
count  8197.000000  9.660000e+03
mean      4.175052  2.165701e+05
std       0.561026  1.831226e+06
min       1.000000  0.000000e+00
25%       4.000000  2.500000e+01
50%       4.300000  9.670000e+02
75%       4.500000  2.939400e+04
max      19.000000  7.815831e+07

In [14]:
dataset['Installs'] = dataset['Installs'].map(lambda x: x.rstrip('+'))
dataset['Installs'] = dataset['Installs'].replace(',', '', regex = True)
dataset['Installs'] = dataset['Installs'].replace('Free', '', regex = True)
dataset['Installs'] = dataset['Installs'].replace('', 0, regex = True)
dataset['Installs'] = dataset['Installs'].astype(int)

In [15]:
dataset.describe()

            Rating       Reviews      Installs
count  8197.000000  9.660000e+03  9.660000e+03
mean      4.175052  2.165701e+05  7.776702e+06
std       0.561026  1.831226e+06  5.375555e+07
min       1.000000  0.000000e+00  0.000000e+00
25%       4.000000  2.500000e+01  1.000000e+03
50%       4.300000  9.670000e+02  1.000000e+05
75%       4.500000  2.939400e+04  1.000000e+06
max      19.000000  7.815831e+07  1.000000e+09